/* cSpell: disable */
* {
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;

    --bg-dark-mode: #010307;
    --bg-light-mode: rgb(247, 242, 238);
    --text-dark-mode: rgb(247, 242, 238);
    --text-light-mode: #010912;

    color: var(--text-dark-mode);
}

#root {
    display: flex;
    justify-content: center;
}

html {
    background-color: var(--bg-dark-mode);
}

main {
    width: 60vw;
    margin: 10vh 0;
    background-color: #1559a7;
    padding: 2em;
    min-height: 30vw;
    border-radius: 1em;
}

.characters-list {
    /* display: flex; */
    /* flex-direction: column; */
    columns: 3;
}

.characters-list>a {
    display: block;
}

#buscar-personagem {
    padding: 0 1em;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text-dark-mode);
    opacity: 100%;
}

h1 {
    font-size: 3rem;
}